html {
    box-sizing: border-box;
}
body {
    background-color: #343A44;
    height: 100vh;
    width: 100vw;
}
h1 {
    text-align: center;
    margin-bottom: 0;
}
.form {
    line-height: 2;
    width: 50%;
    margin: 5% auto 0;
    background-color: #FFFFFF;
    /* height: 40vh; */
    border-radius: 5px;
}
.innerform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 25vh; */
    /* align-items: ; */

}
.loanform {
    display: flex;
    margin-bottom:5px; 
    /* flex-wrap: wrap; */
}
.loanform2 {
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    /* align-items: center; */
}
.symbol {
    width: 10%;
    height: 27px;
    background-color: #E9EBF0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
form .common{
    width: 90%;
    margin: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px #EAEAEA;
}
#repayment{
    border-radius: 5px;
    border: solid 1px #EAEAEA;
    height: 25px;
}

input[placeholder="loan-amount"],input[placeholder="Annual interest"],input[placeholder="Repayment months"]{
    /* color: rgba(0, 0, 0, 0.2); */
    padding-left:5px;
}

#calc {
    margin-top: 5px;
    background-color: #343A44;
    border: none;
    color: rgb(245, 245, 245);
    height: 6vh;
    border-radius: 5px;
    cursor: pointer;
} 
.innerform {
    padding:10px;
}

.m-payment, .t-payment,.t-interest{
    flex: 1;
    height: 27px;
    background-color:#E9EBF0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-right: solid 1px #343A44;
}
#mpayment,#payment,#tinterest {
    flex: 1;
}
.loanform3 {
    display: flex;
}
.results {
    /* visibility: hidden; */
    display:none;
}
.results2 {
    display:block;
}
.loader {
    margin: auto;
    display: none;
}